.container {
    overflow-x: auto;
}

.container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
    table-layout: fixed;
  }
  
  .container td, th {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #dddddd;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    text-align: left;
    padding: 8px;
    min-width: 90px;
    white-space: nowrap;
    font-size: 14px;
  }

  .container th {
      opacity: 0.7;
  }

  .container th:last-child{
      color: rgba(2, 2, 183, 0.611);
      border: 1px solid rgba(0, 0, 255, 0.461);
  }

  .container .dataRows td:last-child {
      color: rgb(6, 6, 6);
      cursor: pointer;
      font-weight: bold;   
  }

  .dataRowEven {
      background-color: #dddddd2a;
  }
  
  .accordionClose {
      display: none;
  }

  .accordionOpen {
      display: table-row;
      transition: all 1s;
  }